p span.show {
     display:none;
}
p:hover span.show {
     display:inline;
}
p:hover span.noshow {
     display:none;
}
p {
     float: left;
	padding:0px 0px 0px 0px;
    margin-left:0px;
    margin-top:0px;
	font-family: Lucida Console, Monaco, monospace;
	font-weight: normal;
	font-size: 30pt;
	color:#ff5e00;
}
a {
        color:#ff2800;
        text-decoration: none;
}