body {
	font-size: 13px;
	font-family: Lucida Console, Monaco, monospace;
	height: 4500px;
	width: 8000px;
}

a {
	text-decoration: none;
	color: black;	
}

a:hover {
	text-decoration: none;
	color: #86eaff;
}


#center {
	position: absolute;
	top: 1655px;
	left: 4500px;
}

h5 {
	margin-top:400px;
}


#arrowsleft {
	position: absolute;
	top:1910px;
	left:1950px;
	z-index:10;
}

#arrowsright {
	position: absolute;
	top:1910px;
	left:4068px;
	z-index:10;
}


